{# templates/admin/place_edit.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  <h1>Modifier le lieu « {{ place.name }} »</h1>

  {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">Enregistrer</button>
  {{ form_end(form) }}

  <p><a href="{{ path('place_show', {id: place.id}) }}">← Retour à la fiche</a></p>
{% endblock %}
